@import "tailwindcss";

:root {
  @media (prefers-color-scheme: dark) {
    --text: #faece0;
    --background: #1a1005;
    --primary: #eab686;
    --secondary: #5a8717;
    --accent: #49da25;
  }

  @media not (prefers-color-scheme: dark) {
    --text: #1f1105;
    --background: #faf0e5;
    --primary: #794615;
    --secondary: #bbe878;
    --accent: #49da25;
  }
}

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    ui-monospace, "Jetbrains Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --color-foreground: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-border: var(--text);
}

html,
body {
  @apply bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
