@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-foreground: rgb(31 17 5);
  --color-background: rgb(250 240 229);
  --color-primary: rgb(121 70 21);
  --color-secondary: rgb(187 232 120);
  --color-accent: rgb(73 218 37);

  --color-foreground-dark: rgb(250 236 224);
  --color-background-dark: rgb(26 16 5);
  --color-primary-dark: rgb(234 182 134);
  --color-secondary-dark: rgb(90 135 23);
  --color-accent-dark: rgb(73 218 37);
}

html,
body {
  @apply bg-background dark:bg-background-dark;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
